.div-100 {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.right-list{
    margin-bottom: 0;
}
.margin-lr-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.margin-top-5{
    margin-top: 5px;
}

.padding-lr-0{
    padding-left: 0px;
    padding-right: 0px;
}

#index_block{
    padding-top: 22px;
}

.right-panel{
    padding-bottom:5px;
}

.footer {
    text-align: center;
    color:#fff;
    margin-top: 30px;
    background-color: #222;
}
