{% extends "template.html" %} {% block title %}{{title}}{% endblock %} {% block content %}
<div class="row" style="margin-top:200px;margin-left:45px;margin-right:35px;">
    <div class=" sidebar-header">
        <h5 class="sidebar-header-title">About Me</h5>
    </div>
</div>
<div class="row" style="margin-top:15px;margin-left:45px;margin-right:35px;text-align:center;">
    <div class="col-md-5" style="text-align:right;">
        <img src="../static/ilogo.jpg" style="width:168px;height:auto;"></img>
    </div>
    <div class="col-md-7" style="text-align:left;">
        <p>Name: Long Zhang</p>
        <p>Location: Chengdu,China</p>
        <p>Email: kanch is me @ gmail.com</p>
        <p>CS Major 2015 @ CUIT</p>
    </div>
</div>
<div class="row"  style="margin-top:85px;margin-left:45px;margin-right:35px;">
    <div class=" sidebar-header">
        <h5 class="sidebar-header-title">About This Site</h5>
    </div>
</div>
<div style="margin-top:25px;margin-left:45px;margin-right:35px;text-align:center;font-size:20px;margin-bottom:200px;">


    <p>本博客用于写一些技术文章啥的，主要关于<b><span style="text-decoration:line-through">C++</span></b>和<b>Python</b>，还有自己平时在课堂上学到的一些东西.</p>
<p>同时该博客也用于托管一些我的项目页面。</p>



</div>
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}
