{% extends "admin_template.html" %} {% block title %}myblog 管理中心{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" style="background:white;">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#cat_homt" role="tab" aria-controls="v-pills-home"
                aria-expanded="true">主面板</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#cat_articles" role="tab" aria-controls="v-pills-profile"
                aria-expanded="true">文章管理</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#cat_category" role="tab" aria-controls="v-pills-messages"
                aria-expanded="true">分类管理</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#cat_site" role="tab" aria-controls="v-pills-settings"
                aria-expanded="true">站点管理</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#cat_admin" role="tab" aria-controls="v-pills-settings"
                aria-expanded="true">用户管理</a>
            <a class="nav-link disabled">myblog v0.1</a>
        </div>
        <div class="row" style="display:none">
            {% import 'macros_build_index.html' as index %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="cat_homt" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                    <div class="card bg-light mb-3" style="max-width: 100%;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>站点汇总：</h3>
                                    <ul class="list-group">
                                        <li class="list-group-item">文章数：{{BASIC_INFO[0]}}</li>
                                        <li class="list-group-item">分类数：{{BASIC_INFO[1]}}</li>
                                        <li class="list-group-item">评论数：不可用</li>
                                        <li class="list-group-item">浏览量:{{BASIC_INFO[2]}}</li>
                                        <li class="list-group-item">上次登录：{{BASIC_INFO[3]}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                </script>
            </div>
            <div class="tab-pane fade" id="cat_articles" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="container">
                    <div class="card bg-light mb-3" style="max-width: 100%;">
                        <div class="card-header">文章管理</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <button type="button" class="btn btn-outline-primary col-sm-2">撰写新文章</button>
                                <label for="inputPassword" class="col-sm-2 col-form-label">搜索文章：</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="article_keywords" placeholder="文章关键字">
                                </div>
                                <button type="button" class="btn btn-outline-primary col-sm-2" onclick="addCate()">搜索</button>
                            </div>
                            <div class="row">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>文章名</th>
                                            <th>文章分类</th>
                                            <th>链接</th>
                                            <th>阅读量</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{index.buildArticleList('id','name','article_count','url','0')}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function modifyArticle(id) {}

                    function editArticle(id) {}

                    function deleteArticle(id) {

                    }

                    function searchArticle() {

                    }
                </script>
            </div>
            <div class="tab-pane fade" id="cat_category" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="container">
                    <div class="card bg-light mb-3" style="max-width: 100%;">
                        <div class="card-header">分类管理</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="modal fade" id="modal_edit_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">修改分类信息</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="form_edit_cate">
                                                    <div class="form-group">
                                                        <label for="edit_cate_name_label" class="form-control-label">分类名:</label>
                                                        <input type="text" name="new_cate_name" class="form-control" id="edit_cate_name_label">
                                                        <input type="text" name="id" class="form-control" id="edit_cate_id" style="display:none;" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit_cate_url_label" class="form-control-label">分类URL:</label>
                                                        <input type="text" name="new_cate_url" class="form-control" id="edit_cate_url_label">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消更改</button>
                                                <button type="button" class="btn btn-primary" onclick="changeCate('submit')">确认更改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form id="add_new_cate">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">新分类：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="catename" id="new_catename" placeholder="分类名">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="cateurl" id="new_cateurl" placeholder="分类URL">
                                    </div>
                                    <button type="button" onclick="addCate()" class="btn btn-outline-primary col-sm-2">添加</button>
                                </div>
                            </form>
                            <div class="row">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>分类名</th>
                                            <th>文章数量</th>
                                            <th>分类URL</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_cate_list">
                                        {{index.buildCategory('id','name','article_count','url')}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var cate_list = [];
                    function changeCate(id) {
                        if(id=="submit"){
                            SubmitForm("/updateCate","form_edit_cate","修改失败！","修改成功！",function success(){
                                $('#modal_edit_cate').modal('toggle');
                                reload();
                            });
                        }else{
                            $('#modal_edit_cate').modal('toggle');
                            cate_list.forEach(function(element) {
                                if(element[0] == id){
                                    $("#edit_cate_id").val(id);
                                    $("#edit_cate_name_label").val(element[1]);
                                    $("#edit_cate_url_label").val(element[3]);
                                }
                            }, this);
                        }
                    }

                    function deleteCate(id) {
                        postData("/deleteCate", {
                            "id": id
                        }, "删除失败！", "删除成功！",reload);
                    }

                    function addCate() {
                        var name = document.getElementById("new_catename").value;
                        var url = document.getElementById("new_cateurl").value;
                        if (name.length < 2 || url.length < 2) {
                            console.log(name.length, url.length)
                            showMsg("请输入有效的分类名或URL！<br>长度均需大于2。", 5);
                            return false;
                        }
                        SubmitForm("/addCate", "add_new_cate", "分类添加失败！存在相同的URL或名称", "分类添加成功！",reload);
                        return true;
                    }

                    function getAllCates(data) {
                        cate_list = parseTuple(data);
                        var dstr = "";
                        // date sequence: ID,NAME,ARTICLES_COUNT,URL
                        console.log(cate_list);
                        for (i = 0; i < cate_list.length; i++) {
                            if (cate_list[i].length < 4) {
                                continue;
                            }
                            var s =
                                `<tr>
                                    <th scope="row">${cate_list[i][0]}</th>
                                    <td>${cate_list[i][1]}</td>
                                    <td>${cate_list[i][2]}</td>
                                    <td>${cate_list[i][3]}</td>
                                    <td><button type="button" class="btn btn-primary btn-sm" onclick="changeCate('${cate_list[i][0]}')">修改</button>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteCate(${cate_list[i][0]})">删除</button></td>
                                </tr>`;
                            dstr += s;
                        }
                        document.getElementById("table_cate_list").innerHTML = dstr;
                    }

                    function reload(){
                        Getdata("/get/allcates", getAllCates);
                    }
                </script>
            </div>
            <div class="tab-pane fade" id="cat_site" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="container">
                    <div class="card bg-light mb-3" style="max-width: 100%;">
                        <div class="card-header">站点管理</div>
                        <div class="card-body">
                            <form action="/changesiteinfo" method="post" style="max-width:100%;margin:0 auto;">
                                <div class="row">
                                    <label for="site_name" class="col-sm-2 col-form-label">站点名：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="site_name" value="akakanch" placeholder="站点名">
                                    </div>
                                </div>
                                <div style="text-align:center;">
                                    <button type="submit" class="btn btn-outline-primary">储存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                </script>
            </div>
            <div class="tab-pane fade" id="cat_admin" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="container">
                    <div class="card text-white bg-danger mb-3" style="max-width: 100%;">
                        <div class="card-header">用户管理</div>
                        <div class="card-body">
                            <form action="/changeadmininfo" method="post" style="max-width:100%;margin:0 auto;">
                                <div class="row">
                                    <label for="username" class="col-sm-2 col-form-label">用户名：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="username" value="kanch96" placeholder="用户名">
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="old_pwd" class="col-sm-2 col-form-label">旧密码：</label>
                                    <div class="col-sm-3">
                                        <input type="password" class="form-control" id="old_pwd" placeholder="旧密码">
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="new_pwm" class="col-sm-2 col-form-label">新密码：</label>
                                    <div class="col-sm-3">
                                        <input type="password" class="form-control" id="new_pwm" placeholder="新密码">
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="confirm_new_pwm" class="col-sm-2 col-form-label">确认密码：</label>
                                    <div class="col-sm-3">
                                        <input type="password" class="form-control" id="confirm_new_pwm" placeholder="确认新密码">
                                    </div>
                                </div>
                                <div style="text-align:center;">
                                    <button type="submit" class="btn btn-outline-primary">储存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.body.style.backgroundColor = "#eceff1";
        document.getElementById("superdiv").style.marginLeft = "0px";
        document.getElementById("superdiv").style.paddingLeft = "0px";
        //getting data
        showMsg("获取数据...", 5);
        Getdata("/get/allcates", getAllCates);

    });
</script>
{% endblock %}