{% extends "admin_template.html" %} {% block title %}myblog 管理中心{% endblock %} {% block content %}
<div class="row" style="width:100;">
    <nav class="nav nav-pills nav-fill" style="margin:0 auto;">
        <a class="nav-item nav-link active" id="v-pills-new-article" data-toggle="pill" href="#article_new" role="tab" aria-controls="v-pills-home"
            aria-expanded="true">预览窗口</a>
        <a class="nav-item nav-link" id="v-pills-image-manager" data-toggle="pill" href="#article_image_manager" role="tab" aria-controls="v-pills-profile"
            aria-expanded="true">媒体管理</a>
        <a class="nav-item nav-link disabled">myblog v0.1</a> {% if EDIT %}
        <a class="btn btn-outline-success" style="margin-right:5px;" id="v-pills-settings-tab" href="javascript:saveChange()">保存更改</a>        {% else %}
        <a class="btn btn-outline-success" style="margin-right:5px;" id="v-pills-settings-tab" href="javascript:publish()">发布文章</a>        {% endif %}
        <a class="btn btn btn-outline-secondary" style="margin-right:5px;" id="v-pills-settings-tab" href="javascript:saveDraft()">保存草稿</a>
        <a class="btn btn-outline-warning" style="margin-right:5px;" id="v-pills-settings-tab" href="javascript:returnControlCenter()">返回</a>
        <div class="row" style="display:none">
            {% import 'macros_build_index.html' as index %}
        </div>
    </nav>
</div>
<div class="row" style="width:100%;position:absolute;left:0px;">
    <div class="col-md-6">

        <div class="container">
            <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="card-body">
                    <form id="article_data">
                        <div class="row">
                            <div class="row margin-lr-0" style="width:100%">
                                <select class="form-control col-sm-3" name="article_cate" id="article_cate">
                                    {% for cat in CATES %}
                                        {% if cat[1] == CATE %}
                                        <option selected="selected">{{cat[1]}}</option>
                                        {% else %}
                                        <option>{{cat[1]}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                <input type="text" class="form-control col-sm-9" value="{{ETITLE}}" name="article_title" id="article_title" placeholder="文章标题">
                                <input type="text" class="form-control col-sm-9" value="{{EAID}}" name="id" style="display: none;" placeholder="id">
                            </div>
                            <div class="row margin-lr-0" style="width:100%">
                                function panel
                            </div>
                            <div class="row margin-lr-0" style="width:100%">
                                <textarea class="form-control" name="article_content" id="article_content" rows="18" placeholder="在这里输入文章内容">{{ECONTENT}}</textarea>
                            </div>
                        </div>
                        <div class="row  margin-lr-0 margin-top-5">
                            <div class="form-group  col-sm-6">
                                <label for="article_keywords" class="sr-only">文章关键字</label>
                                <input type="text" class="form-control" name="article_keywords" value="{{EKEYWORDS}}" id="article_keywords" placeholder="用逗号分隔多个关键字">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="article_url" class="sr-only">文章URL</label>
                                <input type="text" class="form-control " name="article_url" value="{{EURL}}" id="article_url" placeholder="请输入一个便于识别的URL">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="article_new" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                    <div class="card bg-light mb-3" style="max-width: 100%;">
                        <div class="card-body">
                            <div class="row  margin-lr-0">
                                本编辑器支持标准的Markdown语言，您可以在此提示下方看到即时效果。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-lr-0" id="article_content_preview">
                    <h3>预览窗口</h3>
                </div>
                <script src="../static/showdown-1.7.2/showdown.min.js"></script>
                <script>
                    var preview_div = document.getElementById("article_content_preview");
                    var article_content = document.getElementById("article_content");
                    var converter = new showdown.Converter();
                    $("#article_content").on('change keyup paste', function () {
                        preview_div.innerHTML = converter.makeHtml(article_content.value);
                    });
                </script>
            </div>
            <div class="tab-pane fade" id="article_image_manager" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                    <div class="card bg-light mb-3" style="max-width: 100%;">
                        <div class="card-header">媒体管理器</div>
                        <div class="card-body">
                            <div class="row">
                                <form method=post enctype=multipart/form-data id="upload_media">
                                    <input type=file name=file>
                                    <input type="button" onclick="uploadMedia()" value="上传">
                                </form>
                            </div>
                            <div class="row">
                                <h5>媒体管理</h5>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.body.style.backgroundColor = "#eceff1";
        var preview_div = document.getElementById("article_content_preview");
        var article_content = document.getElementById("article_content");
        preview_div.innerHTML = new showdown.Converter().makeHtml(article_content.value);
    });

    function returnControlCenter() {
        window.location.href = "/myblog/admin";
    }

    function checkInput() {
        var title = document.getElementById("article_title").value,
            content = document.getElementById("article_content").value,
            keywords = document.getElementById("article_keywords").value,
            url = document.getElementById("article_url").value;
        if (title.length < 1) {
            showMsg("请填完 文章标题 后，再发布！", 3);
            return false;
        }
        if (content.length < 1) {
            showMsg("请写上 文章内容 后，再发布！", 3);
            return false;
        }
        if (keywords.length < 1) {
            showMsg("请填完 文章关键字 后，再发布！", 3);
            return false;
        }
        if (url.length < 1) {
            showMsg("请填完 文章链接 后，再发布！", 3);
            return false;
        }
        return true;
    }

    function publish() {
        if (checkInput()) {
            var url = document.getElementById("article_url").value;
            SubmitForm("/publish", "article_data", "发布或保存草稿失败！请重试。", "发布或保存草稿成功！", function re() {
                window.location.href = "/article/" + url;
            });
        }
    }

    function saveChange() {
        if (checkInput()) {
            var url = document.getElementById("article_url").value;
            SubmitForm("/update_article", "article_data", "文章修改失败！请重试。", "文章更新成功！", function re() {
                window.location.href = "/article/" + url;
            });
        }
    }

    function saveDraft() {

    }

    function uploadMedia(){
        SubmitForm("/uploadmedia", "upload_media", "上传失败！请重试！", "媒体上传成功。");
    }
</script>
{% endblock %}