{% extends "admin_template.html" %} {% block title %}myblog 管理中心{% endblock %} {% block content %}
<div class="row" style="width:100;">
    <nav class="nav nav-pills nav-fill" style="margin:0 auto;">
        <a class="nav-item nav-link active" id="v-pills-new-article" data-toggle="pill" href="#article_new" role="tab" aria-controls="v-pills-home"
            aria-expanded="true">预览窗口</a>
        <a class="nav-item nav-link" id="v-pills-image-manager" data-toggle="pill" href="#article_image_manager" role="tab" aria-controls="v-pills-profile"
            aria-expanded="true">媒体管理</a>
        <a class="nav-item nav-link disabled">myblog v0.1</a>
        <a class="btn btn-outline-success" style="margin-right:5px;" id="v-pills-settings-tab" href="javascript:returnControlCenter()">发布文章</a>
        <a class="btn btn btn-outline-secondary" style="margin-right:5px;" id="v-pills-settings-tab" href="javascript:returnControlCenter()">保存草稿</a>
        <a class="btn btn-outline-warning" style="margin-right:5px;" id="v-pills-settings-tab" href="javascript:returnControlCenter()">返回</a>
        <div class="row" style="display:none">
            {% import 'macros_build_index.html' as index %}
        </div>
    </nav>
</div>
<div class="row" style="width:100%;position:absolute;left:0px;">
    <div class="col-md-6">

        <div class="container">
            <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="row margin-lr-0" style="width:100%">
                            <select class="form-control col-sm-3" id="article_cate">
                                        <option>文章分类</option>
                                        <option><small><a href="#">添加新分类</a></small></option>
                                    </select>
                            <input type="text" class="form-control col-sm-9" id="article_title" placeholder="文章标题">
                        </div>
                        <div class="row margin-lr-0" style="width:100%">
                            function panel
                        </div>
                        <div class="row margin-lr-0" style="width:100%">
                            <textarea class="form-control" id="article_content" rows="18" placeholder="在这里输入文章内容"></textarea>
                        </div>
                    </div>
                    <div class="row  margin-lr-0 margin-top-5">
                        <div class="form-group  col-sm-6">
                            <label for="article_keywords" class="sr-only">文章关键字</label>
                            <input type="text" class="form-control" id="article_keywords" placeholder="用逗号分隔多个关键字">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="article_url" class="sr-only">文章URL</label>
                            <input type="text" class="form-control " id="article_url" placeholder="请输入一个便于识别的URL">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="article_new" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                    <div class="card bg-light mb-3" style="max-width: 100%;">
                        <div class="card-body">
                            <div class="row  margin-lr-0">
                                本编辑器支持标准的Markdown语言，您可以在此提示下方看到即时效果。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-lr-0" id="article_content_preview">
                    <h3>预览窗口</h3>
                </div>
                <script src="../static/showdown-1.7.2/showdown.min.js"></script>
                <script>
                    var preview_div = document.getElementById("article_content_preview");
                    var article_content = document.getElementById("article_content");
                    var converter = new showdown.Converter();
                    $("#article_content").on('change keyup paste', function () {
                        preview_div.innerHTML = converter.makeHtml(article_content.value);
                    });
                </script>
            </div>
            <div class="tab-pane fade" id="article_image_manager" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                    <div class="card bg-light mb-3" style="max-width: 100%;">
                        <div class="card-header">媒体管理器</div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.body.style.backgroundColor = "#eceff1";

    });

    function returnControlCenter(){
        window.location.href = "/myblog/admin";
    }
</script>
{% endblock %}