{% extends "template_with_sidebar.html" %} {% block title %}{{TITLE}}{% endblock %} {% block content %}

<!--div class="row margin-lr-0 article-titlebox">
        <h1 class="article-titletext">{{ATITLE}}</h1>
        Title in template_with_sidebar.html
    </div-->
<div class="row margin-lr-0 article-infobox">
    <h6 class="article-info" style="color:grey;font-style:italic;">{{DATE}}</h6>
    <h6 class="article-info" style="color:grey;">{{CATES}}</h6>
    <h6 class="article-info" style="color:grey;">浏览量：{{READINGS}}</h6>
</div>
<div class="margin-lr-0" id="article_content">
    {{CONTENT}}
</div>

<script src="../static/showdown-1.7.2/showdown.min.js"></script>
<script>
    // when document ready , function below will be executed
    $(document).ready(function () {
        var article_content = document.getElementById("article_content");
        var converter = new showdown.Converter();
        article_content.innerHTML = converter.makeHtml(article_content.innerHTML);
    });
</script>
{% endblock %}